{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forgot.css') }}">

<div class="forgot-box">

  <h2>🔑 Forgot Password</h2>

  <!-- FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <p class="msg {{ category }}">{{ message }}</p>
    {% endfor %}
  {% endwith %}

  <!-- STEP 1 -->
  {% if step == "email" %}
  <form method="POST">
    <label>Email</label>
    <input type="email" name="email" required>
    <button type="submit">Send OTP</button>
  </form>
  {% endif %}

  <!-- STEP 2 -->
  {% if step == "otp" %}
  <form method="POST">
    <label>Enter OTP</label>
    <input type="text" name="otp" required>
    <button type="submit">Verify OTP</button>
  </form>
  {% endif %}

  <!-- STEP 3 -->
  {% if step == "reset" %}
  <form method="POST">
    <label>New Password</label>
    <input type="password" name="password" required>

    <label>Confirm Password</label>
    <input type="password" name="confirm" required>

    <button type="submit">Reset Password</button>
  </form>
  {% endif %}

</div>

{% endblock %}